@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600&display=swap");

@layer base {
    html {
        @apply text-textColor;
        font-family: "Source Sans 3", sans-serif;
        height: 100vh;
    }
    body {
        height: 100%;
    }
    #root {
        height: 100%;
    }
}
